<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detale produktu</title>
    <style>
        h1{
            text-align: center;
            font-size: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        p,a{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Detale produktu</h1>
    <p>ID produktu : <%= product.id %></p>
    <p>Nazwa produktu : <%= product.name %></p>
    <p>Cena produktu : <%= product.price %></p>
    <a href="/products">Wróć do listy wszystkich produktów</a>
</body>
</html>